# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/

# legacy backups we don't want to track
node_modules.__old__/
package-lock.__old__

