<section class="hero">
  <HeroCarousel />
</section>

<section class="section container-app">
  <div class="grid md:grid-cols-3 gap-8">
    {{#each this.cards as |card|}}
      <div class="card" data-card-id={{card.id}}>
        <div class="card-title">{{card.title}}</div>
        <p class="card-text">{{card.description}}</p>
      </div>
    {{/each}}
  </div>
</section>
